body {
    background: #2b2825;
}

aside{
    float: left;
    background: black;
    width: 20%;
    padding: 2.5%;
    height: 10000vh;
    color: #fff;
    border-right: 5px solid #4d4d4d
}

aside img {
    width: 80px;
    float: left;
}

aside .logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: all .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.10);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}

.alert-warning{
    float: center;
    clear: both;
    width: 400px;
    margin: 20px 32%;
    text-align: center;
}

form{
    margin-left: 32%;
    margin-top: 50px;
    width: 500px;
}